body{
    background: url("https://cdn-media-1.freecodecamp.org/imgr/MJAkxbh.png");
   
}
h1{color:rgb(70, 69, 69);
    text-align:50px;
}
div{margin:10px;}
.cb1{
    margin-top:20px;
    margin-left:60px;
}
.c2{margin-left:10px;}
.cn{margin-left:28px;}

#numero{
    margin-left:28px;
  }